<suite name="Test Suite">
  <test name="Test">
  <groups>
  <define name = "All">
  <include name = "CriaConta"/>
  <include name = "CriaContaFalha"/>
  
  <run>
   <include name = "All"/>
  </run>
  
  </define>
  </groups>
    <classes>
      <class name="br.com.rsinet.HUB_TDD.tests.TestCriaConta"/>
      <class name="br.com.rsinet.HUB_TDD.tests.TestPesquisaNaHome"/>
      <class name="br.com.rsinet.HUB_TDD.tests.TestPesquisaNaLupa"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
